In [1]:
#1
#a.
import numpy as np
import pandas as pd

df1 = pd.read_csv("Desktop/hwk06-01.csv")

In [2]:
#b.
columns = ['department','status', 'age', 'salary']
df2 = pd.DataFrame(columns=columns)
i = 0
for index, row in df1.iterrows():
    for r in range(row[4]):
        df2.loc[i] = [row[0],row[1],row[2],row[3]]
        i += 1
        
print(df2)

    department  status     age    salary
0        sales  senior  31..35  46k..50k
1        sales  senior  31..35  46k..50k
2        sales  senior  31..35  46k..50k
3        sales  senior  31..35  46k..50k
4        sales  senior  31..35  46k..50k
5        sales  senior  31..35  46k..50k
6        sales  senior  31..35  46k..50k
7        sales  senior  31..35  46k..50k
8        sales  senior  31..35  46k..50k
9        sales  senior  31..35  46k..50k
10       sales  senior  31..35  46k..50k
11       sales  senior  31..35  46k..50k
12       sales  senior  31..35  46k..50k
13       sales  senior  31..35  46k..50k
14       sales  senior  31..35  46k..50k
15       sales  senior  31..35  46k..50k
16       sales  senior  31..35  46k..50k
17       sales  senior  31..35  46k..50k
18       sales  senior  31..35  46k..50k
19       sales  senior  31..35  46k..50k
20       sales  senior  31..35  46k..50k
21       sales  senior  31..35  46k..50k
22       sales  senior  31..35  46k..50k
23       sales  senior  31..35  46k..50k
24       sales  senior  31..35  46k..50k
25       sales  senior  31..35  46k..50k
26       sales  senior  31..35  46k..50k
27       sales  senior  31..35  46k..50k
28       sales  senior  31..35  46k..50k
29       sales  senior  31..35  46k..50k
..         ...     ...     ...       ...
135    systems  junior  26..30  46k..50k
136    systems  junior  26..30  46k..50k
137    systems  junior  26..30  46k..50k
138    systems  senior  41..45  66k..70k
139    systems  senior  41..45  66k..70k
140    systems  senior  41..45  66k..70k
141  marketing  senior  36..40  46k..50k
142  marketing  senior  36..40  46k..50k
143  marketing  senior  36..40  46k..50k
144  marketing  senior  36..40  46k..50k
145  marketing  senior  36..40  46k..50k
146  marketing  senior  36..40  46k..50k
147  marketing  senior  36..40  46k..50k
148  marketing  senior  36..40  46k..50k
149  marketing  senior  36..40  46k..50k
150  marketing  senior  36..40  46k..50k
151  marketing  junior  31..35  41k..45k
152  marketing  junior  31..35  41k..45k
153  marketing  junior  31..35  41k..45k
154  marketing  junior  31..35  41k..45k
155  secretary  senior  46..50  36k..40k
156  secretary  senior  46..50  36k..40k
157  secretary  senior  46..50  36k..40k
158  secretary  senior  46..50  36k..40k
159  secretary  junior  26..30  26k..30k
160  secretary  junior  26..30  26k..30k
161  secretary  junior  26..30  26k..30k
162  secretary  junior  26..30  26k..30k
163  secretary  junior  26..30  26k..30k
164  secretary  junior  26..30  26k..30k

[165 rows x 4 columns]

In [3]:
#c.
df2_ = df2.copy()

encode = {
  "sales": 0,
  "systems": 1,
  "marketing": 2,
  "secretary": 3,
  "senior": 4,
  "junior": 5,
  "31..35": 6,
  "26..30": 7,
  "21..25": 8,
  "41..45": 9,
  "36..40": 10,
  "46..50": 11,
  "46k..50k": 12,
  "26k..30k": 13,
  "31k..35k": 14,
  "66k..70k": 15,
  "41k..45k": 16,
  "36k..40k": 17,
}

#d.
for index, row in df2_.iterrows():
    row[0] = encode.get(row[0])
    row[1] = encode.get(row[1])
    row[2] = encode.get(row[2])
    row[3] = encode.get(row[3])

print(df2_)

    department status age salary
0            0      4   6     12
1            0      4   6     12
2            0      4   6     12
3            0      4   6     12
4            0      4   6     12
5            0      4   6     12
6            0      4   6     12
7            0      4   6     12
8            0      4   6     12
9            0      4   6     12
10           0      4   6     12
11           0      4   6     12
12           0      4   6     12
13           0      4   6     12
14           0      4   6     12
15           0      4   6     12
16           0      4   6     12
17           0      4   6     12
18           0      4   6     12
19           0      4   6     12
20           0      4   6     12
21           0      4   6     12
22           0      4   6     12
23           0      4   6     12
24           0      4   6     12
25           0      4   6     12
26           0      4   6     12
27           0      4   6     12
28           0      4   6     12
29           0      4   6     12
..         ...    ...  ..    ...
135          1      5   7     12
136          1      5   7     12
137          1      5   7     12
138          1      4   9     15
139          1      4   9     15
140          1      4   9     15
141          2      4  10     12
142          2      4  10     12
143          2      4  10     12
144          2      4  10     12
145          2      4  10     12
146          2      4  10     12
147          2      4  10     12
148          2      4  10     12
149          2      4  10     12
150          2      4  10     12
151          2      5   6     16
152          2      5   6     16
153          2      5   6     16
154          2      5   6     16
155          3      4  11     17
156          3      4  11     17
157          3      4  11     17
158          3      4  11     17
159          3      5   7     13
160          3      5   7     13
161          3      5   7     13
162          3      5   7     13
163          3      5   7     13
164          3      5   7     13

[165 rows x 4 columns]

In [11]:
#2
m1 = df2_.drop('status', axis=1)
m2 = df2_['status']
m1 = m1.astype(int)
m2 = m2.astype(int)

from sklearn.model_selection import train_test_split

m1Train, m1Test, m2Train, m2Test = train_test_split(m1, m2)

from sklearn import tree

model = tree.DecisionTreeClassifier()

model.fit(m1Train, m2Train)

#Need to install graphviz package 
import graphviz 
from graphviz import Source
dot_data = tree.export_graphviz(model, out_file=None, feature_names=m1Train.columns,class_names=["senior","junior"])
graph = graphviz.Source(dot_data) 
graph.render("gTree",view = True)

#t =< department : systems, status :?, age : 28, salary : 50K > 
#Predicts that status is = junior

columns = ['department','age', 'salary']
test = pd.DataFrame(columns=columns)
test.loc[0] = [encode.get("systems"),encode.get("26..30"),encode.get("66k..70k")]
print("t =< department : systems, status :?, age : 28, salary : 50K > ")
print("ENCODED:")
print(test)
m2Predict = model.predict(test)
print("Decision Tree Prediction:")
if(m2Predict == 5):
    print("*Junior*")
else:
    print("*Senior*")

t =< department : systems, status :?, age : 28, salary : 50K >
ENCODED:
  department age salary
0          1   7     15
Decision Tree Prediction:
*Senior*

In [7]:
#3
#a.
columns = ['department','status', 'age', 'salary']
df3 = pd.DataFrame(columns=columns)
i = 0
for index, row in df1.iterrows():
    for r in range(row[4]):
        df3.loc[i] = [row[0],row[1],row[2],row[3]]
        i += 1
        
print(df3)
df3_ = df3.copy()

#b
#c

import random
print 
encodeRand = {
  "sales": 0,
  "systems": 1,
  "marketing": 2,
  "secretary": 3,
  "senior": 4,
  "junior": 5,
  "31..35": 10,
  "26..30": 11,
  "21..25": 12,
  "41..45": 13,
  "36..40": 14,
  "46..50": 15,
  "46k..50k": 15,
  "26k..30k": 11,
  "31k..35k": 10,
  "66k..70k": 16,
  "41k..45k": 13,
  "36k..40k": 14,
}

def getRandVal(val):
    if(val == 10):
        return random.randint(30, 35)
    elif(val == 11):
        return random.randint(25, 30)
    elif(val == 12):
        return random.randint(20, 25)
    elif(val == 13):
        return random.randint(40, 45)
    elif(val == 14):
        return random.randint(35, 40)
    elif(val == 15):
        return random.randint(45, 50)
    elif(val == 16):
        return random.randint(65, 70)
    else:
        return 0

for index, row in df3_.iterrows():
    row[0] = encodeRand.get(row[0])
    row[1] = encodeRand.get(row[1])
    row[2] = getRandVal(encodeRand.get(row[2]))
    row[3] = getRandVal(encodeRand.get(row[3]))
#d
print(df3_)

    department  status     age    salary
0        sales  senior  31..35  46k..50k
1        sales  senior  31..35  46k..50k
2        sales  senior  31..35  46k..50k
3        sales  senior  31..35  46k..50k
4        sales  senior  31..35  46k..50k
5        sales  senior  31..35  46k..50k
6        sales  senior  31..35  46k..50k
7        sales  senior  31..35  46k..50k
8        sales  senior  31..35  46k..50k
9        sales  senior  31..35  46k..50k
10       sales  senior  31..35  46k..50k
11       sales  senior  31..35  46k..50k
12       sales  senior  31..35  46k..50k
13       sales  senior  31..35  46k..50k
14       sales  senior  31..35  46k..50k
15       sales  senior  31..35  46k..50k
16       sales  senior  31..35  46k..50k
17       sales  senior  31..35  46k..50k
18       sales  senior  31..35  46k..50k
19       sales  senior  31..35  46k..50k
20       sales  senior  31..35  46k..50k
21       sales  senior  31..35  46k..50k
22       sales  senior  31..35  46k..50k
23       sales  senior  31..35  46k..50k
24       sales  senior  31..35  46k..50k
25       sales  senior  31..35  46k..50k
26       sales  senior  31..35  46k..50k
27       sales  senior  31..35  46k..50k
28       sales  senior  31..35  46k..50k
29       sales  senior  31..35  46k..50k
..         ...     ...     ...       ...
135    systems  junior  26..30  46k..50k
136    systems  junior  26..30  46k..50k
137    systems  junior  26..30  46k..50k
138    systems  senior  41..45  66k..70k
139    systems  senior  41..45  66k..70k
140    systems  senior  41..45  66k..70k
141  marketing  senior  36..40  46k..50k
142  marketing  senior  36..40  46k..50k
143  marketing  senior  36..40  46k..50k
144  marketing  senior  36..40  46k..50k
145  marketing  senior  36..40  46k..50k
146  marketing  senior  36..40  46k..50k
147  marketing  senior  36..40  46k..50k
148  marketing  senior  36..40  46k..50k
149  marketing  senior  36..40  46k..50k
150  marketing  senior  36..40  46k..50k
151  marketing  junior  31..35  41k..45k
152  marketing  junior  31..35  41k..45k
153  marketing  junior  31..35  41k..45k
154  marketing  junior  31..35  41k..45k
155  secretary  senior  46..50  36k..40k
156  secretary  senior  46..50  36k..40k
157  secretary  senior  46..50  36k..40k
158  secretary  senior  46..50  36k..40k
159  secretary  junior  26..30  26k..30k
160  secretary  junior  26..30  26k..30k
161  secretary  junior  26..30  26k..30k
162  secretary  junior  26..30  26k..30k
163  secretary  junior  26..30  26k..30k
164  secretary  junior  26..30  26k..30k

[165 rows x 4 columns]
    department status age salary
0            0      4  30     45
1            0      4  34     49
2            0      4  30     46
3            0      4  33     48
4            0      4  30     49
5            0      4  30     49
6            0      4  30     47
7            0      4  33     46
8            0      4  32     49
9            0      4  31     50
10           0      4  31     48
11           0      4  33     46
12           0      4  30     45
13           0      4  30     47
14           0      4  30     47
15           0      4  33     45
16           0      4  34     49
17           0      4  33     46
18           0      4  35     49
19           0      4  33     48
20           0      4  35     48
21           0      4  35     47
22           0      4  32     45
23           0      4  32     45
24           0      4  34     49
25           0      4  31     50
26           0      4  34     48
27           0      4  30     50
28           0      4  32     48
29           0      4  35     49
..         ...    ...  ..    ...
135          1      5  28     50
136          1      5  30     46
137          1      5  30     46
138          1      4  44     68
139          1      4  45     67
140          1      4  45     66
141          2      4  39     49
142          2      4  40     45
143          2      4  36     50
144          2      4  39     47
145          2      4  38     45
146          2      4  39     46
147          2      4  37     46
148          2      4  38     48
149          2      4  37     45
150          2      4  39     47
151          2      5  32     42
152          2      5  30     42
153          2      5  30     41
154          2      5  34     42
155          3      4  46     35
156          3      4  47     39
157          3      4  46     36
158          3      4  48     37
159          3      5  27     25
160          3      5  30     26
161          3      5  25     28
162          3      5  25     30
163          3      5  28     30
164          3      5  27     28

[165 rows x 4 columns]

In [10]:
#4

m1 = df3_.drop('status', axis=1)
m2 = df3_['status']
m1 = m1.astype(int)
m2 = m2.astype(int)

from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

m1Train, m1Test, m2Train, m2Test = train_test_split(m1, m2, random_state=1)

gNB = GaussianNB()

gNB.fit(m1Train, m2Train)

#t =< department : systems, status :?, age : 28, salary : 50K > 
#Predicts that status is = junior

columns = ['department','age', 'salary']
test = pd.DataFrame(columns=columns)
test.loc[0] = [encodeRand.get("systems"),28,getRandVal(encodeRand.get("66k..70k"))]
print("t =< department : systems, status :?, age : 28, salary : 50K > ")
print("ENCODED:")
print(test)
m2Predict = gNB.predict(test)
print("Gaussian Naive Bayes Prediction:")
if(m2Predict == 5):
    print("*Junior*")
else:
    print("*Senior*")

t =< department : systems, status :?, age : 28, salary : 50K >
ENCODED:
  department age salary
0          1  28     70
Gaussian Naive Bayes Prediction:
*Senior*